# General ignore list
# files/ONTAP/*
# files/StorageGRID/*
files/*

# Specific ignore list
*/vars_vcenter_exampleLab.yml
# *_exampleLab.yml
# *_sandbox.yml
# *_redshirt.yml
# *vars/vars_*.yml
deploy_vms/vars/vars_*
ontap/vars/vars_*
storagegrid/vars/vars_*
# */vars/vars_*.yml

# Mac/OSX
.DS_Store

# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json
*publickey*
*pass*
*password*
*creds*
credentials.yml
*licenses.yml


# Log files
*.log

# Exclude all Executables & Binaries
*.tar
*.zip
*.gzip
*.tgz
*.bin
*.jar
*.exe
*.out
*.app

# Vim swap files
*.swp
*.swo
[._]*.un~

# Ansible ignore list
# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry 
*.*~


