# General ignore list

# Mac/OSX
.DS_Store

# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json
*pass*
*password*
*creds*
credentials.yml

# Log files
*.log

# Exclude all Executables & Binaries
*.tar
*.zip
*.gzip
*.tgz
*.bin
*.jar
*.exe
*.out
*.app

# Vim swap files
*.swp
*.swo
[._]*.un~

# Ansible ignore list
# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~


