[defaults]
inventory = inventory
stdout_callback = yaml
connection = smart
timeout = 60
host_key_checking = false
retry_files_enable = false

# Disable deprecation_warnings
#deprecation_warnings = false

# Dynamically detects version, OS, etc. and looks for recommended release - Default 2.12+
#interpreter_python = auto
interpreter_python = auto_silent

# ANSIBLE_PYTHON_INTERPRETER - sets version on remote host, not control host
# ansible_python_interpreter = /usr/bin/python3
# ansible_python_interpreter = /home/ken/Documents/GitHub/netapp-automation/venv/bin/python
# ansible_python_interpreter = ~/Documents/Github/netapp-automation/venv/bin/python3

# Suppress localhost warning since most plays will be local and directed at localhost
localhost_warning = false

# Suppress warning about inventory not parsing. Since localhost is used

#[inventory]
#unparsed_is_failed = true
